.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/**/*
.DS_Store
config/database.yml
config/mail.yml
public/javascripts/controls.js
public/javascripts/dragdrop.js
public/javascripts/effects.js
public/javascripts/prototype.js
public/javascripts/rails.js
Gemfile.lock
dump.rdb