.rvmrc
.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/
.DS_Store
config/database.yml
config/mail.yml
public/system
dump.rdb
Newsletter_state.png
Sending_state.png
.tmtags
config/setup_load_paths.rb
.sass-cache
log/resque_err
log/resque_stdout
coverage
log/resque_scheduler