<div id="newsletter">
  <h1>Listing newsletters</h1>

  <%= form_tag(newsletters_path, :id => 'account_list') do %>
    <% opts = options_from_collection_for_select(@accounts, :id, :name, @account.try(:id)) %>
    <strong>Account: <%= select_tag 'account_id', opts, :include_blank => true, :onChange => "this.form.submit()" %></strong>
  <% end %>
  
  <%= link_to( "New #{@account.name} Newsletter", new_account_newsletter_path(@account)) if @account %>
  
  <table id="index">
    <tr>
      <th>Date</th>
      <th>Subject</th>
      <th>Deliver at</th>
      <th>Recipients</th>
      <th>Status</th>
      <th>Action</th>
    </tr>

    <% @newsletters.each do |newsletter| %>
       <%=  render newsletter %>
    <% end %>
  </table>
</div>