/* generic reset */
html, body, table, iframe {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: normal;
}

* html table#frame {
  height: 100%;
}

body {
  overflow: hidden;
  background-color: #6699CC;
}

.hidden {
  display: none;
}

a {
  color: #000;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* specific rules */
#top {
  height: 20px;

  #menu {
    width: 145px;
    padding-left: 5px;

    #logo {
     margin: 5px 0;
    }

    #admin {
      margin-bottom: 10px;
      a {
        font-weight: bold;
      }
    }

    .item ul {
      list-style-type: none;
      padding: 0px 0px 0px 5px;
      margin: 0px;
      ul {
        list-style-type: disc;
        padding-left: 17px;
      }
    }
  }

  #status {
    float: left;
  }

  #logout {
    float: right;
    img {
      border: 0;
      margin: 2px 0px 0;
    }
  }
}

iframe {
  width: 100%;
  border-left: 1px solid;
  border-top: 1px solid;
  padding: 0px;
  background-color: #FFF;
}

.admin #admin {
  display: block;
}

