#newsletter
  .index TD
    text-align: center

  h2
    font-size: 15pt
    color: #000000
    text-decoration: none
    font-weight: bold
    text-align: left
    display: inline

  #formular
    border: solid 2px #CCCCCC

    THEAD TR
      background-color: #669966

    TBODY TR
      background-color: #EEEEEE

    TBODY TR.red
      background-color: #EECECE

    TBODY TH
      text-align: left

    TBODY .small
      font-size: 8pt
      font-weight: normal

    #filelist
      margin: 3px

    .upload
      margin: 3px
      background-color: #CCC
      padding: 5px

    .error
      font-family: Arial, Helvetica, sans-serif
      font-size: 10pt
      color: red
      text-decoration: none
      font-weight: bold

  #preview
    border: solid 1px #CCCCCC


// http://www.oscaralexander.com/tutorials/how-to-make-sexy-buttons-with-css.html
// .clear
//   overflow: hidden
//   width: 100%
a.button
  height: 24px
  margin: 2px
  padding-right: 18px
  background: transparent url('/images/buttons/bg_button_a.gif') no-repeat scroll top right
  color: #444
  text-align: center
  display: block
  font: normal 12px arial, sans-serif
  font-weight: bold
  text-decoration: none
  &:active
    background-position: bottom right
    color: #000
    outline: none
  &:hover
    color: #000
  span
    background: transparent url('/images/buttons/bg_button_span.gif') no-repeat
    display: block
    line-height: 14px
    padding: 5px 0 5px 18px
  &:active span
    background-position: bottom left
    padding: 6px 0 4px 18px

TH
  text-align: center
  font-weight: bold

TR.newsletter
  &.bgdark
    background-color: #DDDDDD
  &.bglight
    background-color: #EEEEEE
  .icon
    width: 60px
    a
      float: left
      display: block
      width: 48px
      height: 48px
      margin: 2px
      border: 0
      span
        display: none
  &.new
    .icon a
      background: transparent url('/images/icon/new.png') no-repeat
  &.testing, &.tested
    .icon a
      background: transparent url('/images/icon/tested.png') no-repeat
  &.sending
    .icon a
      background: transparent url('/images/icon/sending.png') no-repeat
  &.stopping, &.stopped
    .icon a
      background: transparent url('/images/icon/stopped.png') no-repeat
  &.finished
    .icon a
      background: transparent url('/images/icon/finished.png') no-repeat

  .progress
    vertical-align: top


  .recipients
    width: 120px
    text-align: center
    font-weight: bold

  .actions
    width: 120px
    a
      display: none
  &.new, &.tested, &.stopped
    .send_test
      display: block
  &.tested
    .send_live
      display: block
  &.stopped
    .resume
      display: block
  &.testing, &.sending
    .stop
      display: block
  &.finished
    .clone
      display: block

  .menu
    width: 120px
    padding-left: 15px
    a
      float: left
      display: block
      width: 32px
      height: 32px
      margin: 2px
      border: 0
      span
        display: none
  .preview
    background: transparent url('/images/menu/preview.png') no-repeat
  .edit
    background: transparent url('/images/menu/edit.png') no-repeat
  .delete
    background: transparent url('/images/menu/delete.png') no-repeat

  // disable urls: http://css-tricks.com/pointer-events-current-nav
  &.testing, &.sending, &.stopping, &.finished
    .edit
      background: transparent url('/images/menu/disabled/edit.png') no-repeat
      pointer-events: none
      cursor: default

    .delete
      background: transparent url('/images/menu/disabled/delete.png') no-repeat
      pointer-events: none
      cursor: default


