body {
   font-family:Arial, Helvetica, sans-serif;
   font-size: 9pt; 
   font-weight: normal;
   padding: 0px;
}

#top_menu a {
  padding: 0px;
  margin: 0px;
  padding-right: 5px;
  text-decoration: none;
  color: #000;
}

#top_menu a:hover {
  text-decoration: underline;
}

#menu {
  padding-left: 5px;
} 
 
#menu ul {
  list-style-type: none;
  padding: 0px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin: 0px;
}

#menu ul ul {
  list-style-type: disc;
  padding-left: 20px;
}

#menu li a {
  text-decoration: none;
  color: #000;
}

#menu li a:hover {
  text-decoration: underline;
}


#content {
    padding: 0 5px;
    margin: 0px;
    border-left: 1px solid;
    border-top: 1px solid;
}



TH {
        font-family:verdana, arial;
        font-size: 9pt; 
        color:#000000; 
        text-decoration:none;
        font-weight: bold;
        padding: 2px;
        text-align:left;
}


TD {
        font-family:verdana, arial;
        font-size: 9pt; 
        color:#000000; 
        text-decoration:none;
        font-weight: normal;
}

TR.bgdark       {
        background-color:#DDDDDD;
}

TR.bglight      {
        background-color:#EEEEEE;
}

#index h2 {
        font-size:15pt; 
        color:#000000; 
        text-decoration:none;
        font-weight:bold;
        display:inline;
}

#index table {
    border: solid 2px #CCCCCC;
    width: 100%;
  }

#index th {
    background-color:#669966;
}


#index  td {
    text-align: center;
}



#newsletter h2 {
        font-size:15pt; 
        color:#000000; 
        text-decoration:none; 
        font-weight:bold;
        text-align:left;
        display:inline;
}





#newsletter #formular {
        border: solid 2px #CCCCCC;
}

#newsletter #formular THEAD TR {
        background-color:#669966;
}

#newsletter #formular TBODY TR {
        background-color:#EEEEEE;
}

#newsletter #formular TBODY TR.red {
        background-color:#EECECE;
}

#newsletter #formular TBODY TH {
        text-align: left;
}

#newsletter #formular TBODY .small {
        font-size:8pt;
        font-weight:normal;
}

#newsletter #formular .error {
        font-family:Arial, Helvetica, sans-serif; 
        font-size:10pt; 
        color:red; 
        text-decoration:none; 
        font-weight:bold;
}

#newsletter #preview {
        border:solid 1px #CCCCCC;
}
  
#account_list {
           display: inline;
           margin-left: 20px;
           margin-right: 20px;           
}