/* generic reset */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: Arial, Verdana, Helvetica;
  font-size: 13px;
  font-weight: normal; }

#application {
  min-width: 700px;
  background-color: white; }
  #application div.index, #application div.form {
    padding: 5px; }
  #application h2 {
    font-size: 17px;
    font-weight: bold;
    display: inline; }
  #application table.header {
    width: 100%;
    margin-bottom: 5px; }
  #application table.content {
    width: 100%;
    border: 2px solid #cccccc; }
    #application table.content tr {
      background-color: #eeeeee; }
    #application table.content.zebra tr:nth-child(even) {
      background-color: #dddddd; }
    #application table.content tbody th {
      text-align: left; }
    #application table.content thead th {
      background-color: #669966;
      font-weight: bold;
      font-size: 14px;
      padding: 2px; }
    #application table.content .form th, #application table.content .form td {
      padding: 4px; }
  #application a.button {
    height: 24px;
    margin: 2px;
    padding-right: 18px;
    background: transparent url("/images/buttons/bg_button_a.gif") no-repeat scroll top right;
    color: #444444;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none; }
    #application a.button:active {
      background-position: bottom right;
      color: black;
      outline: none; }
    #application a.button:hover {
      color: black; }
    #application a.button span {
      background: transparent url("/images/buttons/bg_button_span.gif") no-repeat;
      display: block;
      line-height: 14px;
      padding: 5px 0 5px 18px; }
    #application a.button:active span {
      background-position: bottom left;
      padding: 6px 0 4px 18px; }
  #application .menu {
    width: 110px;
    padding-left: 10px; }
    #application .menu a.icon {
      float: left;
      display: block;
      width: 32px;
      height: 32px;
      margin: 2px;
      border: 0; }
      #application .menu a.icon span {
        display: none; }
    #application .menu .preview {
      background: transparent url("/images/menu/preview.png") no-repeat; }
    #application .menu .edit {
      background: transparent url("/images/menu/edit.png") no-repeat; }
    #application .menu .delete {
      background: transparent url("/images/menu/delete.png") no-repeat; }
    #application .menu .save {
      background: transparent url("/images/menu/save.png") no-repeat; }
    #application .menu .cancel {
      background: transparent url("/images/menu/cancel.png") no-repeat; }
  #application .hidden {
    display: none; }
