#newsletters tr.newsletter td.icon {
  width: 60px; }
  #newsletters tr.newsletter td.icon a {
    float: left;
    display: block;
    width: 48px;
    height: 48px;
    margin: 2px;
    border: 0; }
    #newsletters tr.newsletter td.icon a span {
      display: none; }
#newsletters tr.newsletter.new .icon a {
  background: transparent url("/images/icon/new.png") no-repeat; }
#newsletters tr.newsletter.testing .icon a, #newsletters tr.newsletter.tested .icon a {
  background: transparent url("/images/icon/tested.png") no-repeat; }
#newsletters tr.newsletter.sending .icon a {
  background: transparent url("/images/icon/sending.png") no-repeat; }
#newsletters tr.newsletter.stopping .icon a, #newsletters tr.newsletter.stopped .icon a {
  background: transparent url("/images/icon/stopped.png") no-repeat; }
#newsletters tr.newsletter.finished .icon a {
  background: transparent url("/images/icon/finished.png") no-repeat; }
#newsletters tr.newsletter td.recipients {
  width: 120px;
  text-align: center;
  font-weight: bold; }
#newsletters tr.newsletter td.actions {
  width: 120px; }
  #newsletters tr.newsletter td.actions a {
    display: none; }
#newsletters tr.newsletter.new .send_test, #newsletters tr.newsletter.tested .send_test, #newsletters tr.newsletter.stopped .send_test {
  display: block; }
#newsletters tr.newsletter.tested .send_live {
  display: block; }
#newsletters tr.newsletter.stopped .resume {
  display: block; }
#newsletters tr.newsletter.testing .stop, #newsletters tr.newsletter.sending .stop {
  display: block; }
#newsletters tr.newsletter.finished .clone {
  display: block; }
#newsletters tr.newsletter.sending .progress-bar, #newsletters tr.newsletter.stopping .progress-bar, #newsletters tr.newsletter.stopped .progress-bar, #newsletters tr.newsletter.finished .progress-bar {
  display: block; }
#newsletters tr.newsletter.testing .edit, #newsletters tr.newsletter.sending .edit, #newsletters tr.newsletter.stopping .edit, #newsletters tr.newsletter.finished .edit {
  background: transparent url("/images/menu/disabled/edit.png") no-repeat;
  pointer-events: none;
  cursor: default; }
#newsletters tr.newsletter.testing .delete, #newsletters tr.newsletter.sending .delete, #newsletters tr.newsletter.stopping .delete, #newsletters tr.newsletter.finished .delete {
  background: transparent url("/images/menu/disabled/delete.png") no-repeat;
  pointer-events: none;
  cursor: default; }
