- if @recipients.count > 0
  %tr.paginate
    %td{colspan:7, align:"center"}= paginate @recipients, :remote => true

  = render @recipients

  %tr.paginate
    %td{colspan:7, align:"center"}= paginate @recipients, :remote => true
