<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd"> 
<html>
<head>
  <title><%= t 'application.title' %></title>
  <!-- link rel="SHORTCUT ICON" href="/img/favicon.ico" -->>
</head>
<frameset cols="150,*" border="0" frameborder="0">
  <frame src="<%= menu_path %>"            name="menu"    marginheight="0" marginwidth="0" scrolling="no" noresize>
  <frameset rows="20,*" border="0" frameborder="0">
    <frame src="<%= top_menu_path %>"     name="top_menu" marginheight="0" marginwidth="0" scrolling="no" noresize>
    <frame src="<%= newsletters_path %>"  name="main"     marginheight="0" marginwidth="0" scrolling="yes" noresize>
  </frame>
</frameset>
</html>