#recipients

:javascript
  var raw_data = #{recipients_chart2(@account).to_json},
  process = function(d) {
    var out = {}
    $.each(d, function(key, values) {
      out[key] = {};
      out[key].sum = 0;
      out[key].acc = $.map(values, function(val, i) {
        out[key].sum = val[1] += out[key].sum;
        val[0] *= 1000;
        return [val];
      });
    });
    return out;
  },
  data = process(raw_data),
  chart = new Highcharts.Chart({
    chart: {
       renderTo: 'recipients',
       zoomType: 'x'
    },

    title: {
      text: "Recipients"
    },

    tooltip: {
      shared: true,
      crosshairs: true
    },

    xAxis: {
      type: 'datetime',
       //tickInterval: #{1.week * 1000},
      tickWidth: 0,
      tickLength: 10,
      gridLineWidth: 1,
      maxZoom: #{1.week * 1000}
    },

    yAxis: [{
      title: {
        text: "Users"
      }
    },{
      title: {
        text: "Sendings per Second"
      },
      opposite: true
     }],

    plotOptions: {
      series: {
        connectNulls: true
      },
      area: {
        stacking: 'normal'
      }
    },

    series: [{
      type: 'area',
      name: 'Deleted',
      yAxis: 0,
      pointWidth: 10,
      data: data.deleted.acc,
      stack: 0
    },{
      type: 'area',
      name: 'Confirmed',
      yAxis: 0,
      pointWidth: 10,
      data: data.confirmed.acc,
      stack: 0
    },{
      type: 'area',
      name: 'Pending',
      yAxis: 0,
      pointWidth: 10,
      data: data.pending.acc,
      stack: 0
    },{
      type: 'pie',
      name: 'Total consumption',
      data: [{
         name: 'Deleted',
         y: data.deleted.sum,
         color: '#4572A7'
      },{
         name: 'Confirmed',
         y: data.confirmed.sum,
         color: '#AA4643'
      },{
         name: 'Pending',
         y: data.pending.sum,
         color: '#89A54E'
      }],
      center: [120, 100],
      size: 180,
      showInLegend: false,
      dataLabels: {
         enabled: true
      }
    }]
  });