//
// This is a manifest file that'll automatically include all the stylesheets available in this directory
// and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
// the top of the compiled file, but it's generally better to create a new file per style scope.
//= require_self
//= require cleditor/jquery.cleditor
//= require newsletters
//= require overlay
//= require progress
//= require recipients

$headColor: #9CF;

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: Arial, Verdana, Helvetica;
  font-size: 13px;
  font-weight: normal; }

#application {
  min-width: 700px;
  background-color: white;
  div.index, div.form {
    padding: 5px; }
  h2 {
    font-size: 20px;
    font-weight: bold;
    display: inline; }
  table.header {
    width: 100%;
    margin-bottom: 5px; }
  table.content {
    width: 100%;
    table-layout:fixed;
    border: 2px solid #cccccc;
    tr {
      background-color: #eeeeee; }
    &.zebra tr:nth-child(even) {
      background-color: #dddddd; }
    tbody th {
      text-align: left; }
    thead th {
      background-color: $headColor;
      font-weight: bold;
      font-size: 14px;
      padding: 2px; }
    .form {
      th, td {
        padding: 4px; } } }
  // http://www.oscaralexander.com/tutorials/how-to-make-sexy-buttons-with-css.html
  // .clear
  //   overflow: hidden
  //   width: 100%
  a.button {
    height: 24px;
    margin: 2px;
    padding-right: 18px;
    background: transparent asset-url("buttons/bg_button_a.gif", image) no-repeat scroll top right;
    color: #444444;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    &:active {
      background-position: bottom right;
      color: black;
      outline: none; }
    &:hover {
      color: black; }
    span {
      background: transparent asset-url("buttons/bg_button_span.gif", image) no-repeat;
      display: block;
      line-height: 14px;
      padding: 5px 0 5px 18px; }
    &:active span {
      background-position: bottom left;
      padding: 6px 0 4px 18px; } }
  .menu {
    width: 110px;
    padding-left: 10px;
    a.icon {
      float: left;
      display: block;
      width: 32px;
      height: 32px;
      border: 0;
      span {
        display: none; } }
    .preview {
      background: transparent asset-url("menu/preview.png", image) no-repeat; }
    .edit {
      background: transparent asset-url("menu/edit.png", image) no-repeat; }
    .delete {
      background: transparent asset-url("menu/delete.png", image) no-repeat; }
    .save {
      background: transparent asset-url("menu/save.png", image) no-repeat; }
    .cancel {
      background: transparent asset-url("menu/cancel.png", image) no-repeat; } }
  .hidden {
    display: none; }
  .pagination {
    margin: 5px;
    a {
      padding: 2px;
      text-decoration: none;
      font-weight: bold;
      color: #000;
      &:hover {
        text-decoration: underline; } }
    .current {
      font-size: 14px;
      font-weight: bold; }
    }
}