#newsletters {
  &.index {
    h2 {
      float: left;
      margin: 0 20px 0 0;
      padding: 2px 0 0 0; }

    ul.tabs {
      margin: 0 !important;
      padding: 3px 0 0 0;
      border: 0;
      height: 22px;
      overflow: hidden;
      li {
        float: left;
        padding: 0;
        margin: 0;
        list-style-type: none;
        a {
          float: left;
          font-size: 12px;
          display: block;
          padding: 4px 30px;
          text-decoration: none;
          border: 0;
          background-color: #eeeeee;
          color: #333;
          margin-right: 2px;
          position: relative;
          top: 1px;
          outline: 0;
          border-radius: 4px 4px 0 0;
          -moz-border-radius: 4px 4px 0 0;
          -webkit-border-radius: 4px 4px 0 0;
          &:hover {
            background-color: #f7f7f7;
            color: #222; }
          &.current {
            font-weight: bold;
            background-color: #cccccc;
            border-bottom: 1px solid #cccccc;
            color: #000;
            cursor: default; } } } }
    a.new {
      float: right;
      margin-top: 6px;
      margin-right: 3px; }
    tr.newsletter {
      td.icon {
        a {
          float: left;
          display: block;
          width: 32px;
          height: 32px;
          margin: 2px;
          border: 0;
          span {
            display: none; } } }
      &.new {
        .icon a {
          background: transparent image-url("icon/new.png") no-repeat; } }
      &.testing, &.tested {
        .icon a {
          background: transparent image-url("icon/tested.png") no-repeat; } }
      &.sending {
        .icon a {
          background: transparent image-url("icon/sending.png") no-repeat; } }
      &.stopping, &.stopped {
        .icon a {
          background: transparent image-url("icon/stopped.png") no-repeat; } }
      &.finished {
        .icon a {
          background: transparent image-url("icon/finished.png") no-repeat; } }
      td.info {
        padding: 5px;
        strong {
          margin-right: 4px;
          float: left; }
        a {
          white-space: nowrap;
          overflow: hidden;
          display: block;
          text-overflow: ellipsis; } }
      td.recipients {
        text-align: center;
        font-weight: bold; }
      td.actions {
        a {
          display: none; } }
      &.new, &.tested, &.stopped {
        .send_test {
          display: block; } }
      &.tested {
        .send_live {
          display: block; } }
      &.stopped {
        .resume {
          display: block; } }
      &.sending {
        .stop {
          display: block; } }
      &.finished {
        .clone {
          display: block; } }
      &.sending, &.stopping, &.stopped, &.finished {
        .progress-bar {
          display: block; } }
      // disable urls: http://tricks.com/pointer-events-current-nav
      &.testing, &.sending, &.stopping, &.finished {
        .default & {
          .edit {
            background: transparent image-url("menu/disabled/edit.png") no-repeat;
            pointer-events: none;
            cursor: default; }
          .delete {
            background: transparent image-url("menu/disabled/delete.png") no-repeat;
            pointer-events: none;
            cursor: default; } } }
      td.menu {
        a.icon {
          margin-right: 4px; } } }
    tfoot {
      display: none;
      text-align: center;
      font-style: italic; } }

  .form {
    input[type=text] {
      border: 1px solid #999999;
      //margin: 0
      padding: 2px;
      outline: none; }
    input[type=button] {
      margin-bottom: 5px; } }
  .text {
    padding: 5px; } }
