#recipients {
  .content {
    table {
      border: 0;
      width: 100%; } }
  .gender {
    width: 8%; }
  .first_name {
    width: 20%; }
  .last_name {
    width: 20%; }
  .email {
    font-weight: bold; }
  .menu {
    width: 75px; }
  tr.recipient {
    table {
      &.edit tr.show {
        display: none; }
      &.show tr.edit {
        display: none; }
      td {
        padding: 0 5px; } } }
  &.form {
    td {
      vertical-align: top; }
    ul.result {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li.valid, li.invalid {
        float: left;
        width: 50%;
        display: none;
        margin-bottom: 14px; }
      li.valid {
        color: green; }
      li.invalid {
        color: red; } }
    .input {
      clear: both; }
    input, textarea {
      display: block;
      width: 95%;
      margin: 5px auto; } } }
