#recipients {
  h2 {
    float: left;
    margin: 3px 20px 3px 0;
    padding: 2px 0 0 0; }
  .search {
    padding: 5px 0 0 30px;
    float: left; }
  .right {
    a {
      float: right;
      width: 70px; } }

  thead {
    th.order a {
      color: red; }
    a {
      text-decoration: none;
      color: #000;
      &:hover {
        text-decoration: underline; } }
    .state {
      width: 75px; }
    .gender {
      width: 75px; }
    .first_name, .last_name {
      input {
        width: 90%;
      }
      width: 18%; }
    .email {
      input {
        width: 90%;
      }
      font-weight: bold; }
    .deliveries_count, .bounces_count, .reads_count {
      width: 90px; }
    .menu {
      width: 80px;
      a {
        margin-left: 2px; } } }

  tr.recipient {
    td {
      padding: 0 5px;
      &.show {
        display: table-cell; }
      &.edit {
        display: none; } }
    &.edit td {
      &.show {
        display: none; }
      &.edit {
        display: table-cell; } } }

/* for in/export */
  &.form {
    padding: 0;
    td {
      vertical-align: top; }
    ul.result {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li.valid, li.invalid {
        float: left;
        width: 50%;
        display: none;
        margin-bottom: 14px; }
      li.valid {
        color: green; }
      li.invalid {
        color: red; } }
    .input {
      padding: 3px;
      clear: both; }
    input, textarea {
      display: block;
      width: 95%;
        margin: 5px auto; } } }
