#recipients {
  .content {
    table {
      table-layout:fixed;
      border: 0;
      width: 100%; } }
  .gender {
    width: 75px; }
  .first_name {
    input {
      width: 90%;
    }
    width: 18%; }
  .last_name {
    input {
      width: 90%;
    }
    width: 18%; }
  .email {
    input {
      width: 90%;
    }
    font-weight: bold; }
  .deliveries_count {
    width: 90px; }
  .bounces_count {
    width: 90px; }
  .menu {
    width: 80px;
    a {
      margin-left: 2px; } }
  tr.recipient {
    table {
      &.edit tr.show {
        display: none; }
      &.show tr.edit {
        display: none; }
      td {
        padding: 0 5px; } } }
  &.form {
    td {
      vertical-align: top; }
    ul.result {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li.valid, li.invalid {
        float: left;
        width: 50%;
        display: none;
        margin-bottom: 14px; }
      li.valid {
        color: green; }
      li.invalid {
        color: red; } }
    .input {
      clear: both; }
    input, textarea {
      display: block;
      width: 95%;
      margin: 5px auto; } } }
