/*
TH {
  font-family:verdana, arial;
  font-size: 9pt;
  color:#000000;
  text-decoration:none;
  font-weight: bold;
  padding: 2px;
  text-align:left;
}


TD {
  font-family:verdana, arial;
  font-size: 9pt;
  color:#000000;
  text-decoration:none;
  font-weight: normal;
}

.index h2 {
  font-size: 15pt;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  display: inline;
}

.index table.content {
  border: solid 2px #CCCCCC;
  width: 100%;
}

.index th {
  background-color: #669966;
}



#account_list {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.progress_bar {
  width: 100px;
  border: 1px solid #000;
  overflow: hidden;
  margin:0 auto;
  padding:0;
}
*/